@import "vars";
@import "reset";
@import "libs";
@import "global";

.menu {
    z-index: 999;
    position: absolute;
    right: 0;
    left: 0;
    background-color: #fff;
    transform: translateY(-300%);
    transition: all .666s;
    &--active{
        transform: translateY(0);
    }
    &__inner {
        max-width: 1920px;
        display: flex;
        padding: 40px;
        min-height: 100vh;
        margin: 0 auto;
    }
    &__btn{
        width: 16px;
        height: 16px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 20px;
        left: 20px;
        transition: all .3s;
        &:hover{
            path{
                fill:$hov;
            }
        }
        &:active{
            path{
                fill:$act;
            }
        }
    }
    &__nav {
        position: relative;
        max-width: 300px;
        width: 100%;
        padding: 38px;
        padding-bottom: 0;
        display: flex;
        flex-flow: column;
        &__item {
            &+.menu__nav__item {
                padding-top: 16px;
            }

            &--active {
                .menu__nav__item__link {
                    color: #E11818;
                }
            }

            &__link {
                @extend %bld;
                font-size: 16px;
                line-height: 18px;
                text-transform: uppercase;
                transition: all .3s;

                &.menu__nav__item__gender {
                    &--unactive {
                        @extend %geometria;
                        color: #898A8E;
                    }
                    &:active{
                        color: $def;
                    }
                    &:hover {
                        color: $def;
                    }
                }

                &:hover {
                    color: $hov;
                }
                &:active{
                    color: $act;
                }
            }
        }
        ul.menu__nav__service-list{
            padding-top: 16px;
            flex: auto;
        }
        &__service {
            &+.menu__nav__service {
                padding-top: 16px;
            }

            &__link {
                @extend %txt;
                font-size: 16px;
                line-height: 18px;
                transition: all .3s;
                &:hover{
                    color: $hov;
                }
            }
        }
        &__contact-link{
            display: block;
            color: #fff;
            @extend %bld;
            padding: 18px 40px;
            background-color: $btn;
            transition: all .3s;
            &:hover{
                background-color: $hov;
            }
            &:active{
                background-color: $act;
            }
        }
    }

    &__logo__link {
        display: block;
        padding-bottom: 30px;
    }
    &__search{
       max-width: 1540px;
       width: 100%;
        padding-left: 40px;
        display: flex;
        flex-flow: column;
    }
    &__form{
        &__label{
            position: relative;
            &:hover {
                .menu__form__input::placeholder {
                    color: $hov;
                }
                .menu__form__input{
                    border-color: $hov;
                }
                .menu__form__btn {
                    path {
                        fill: $hov;
                    }
                }
            }
        }
        &__input{
            width: 100%;
            padding: 16px 0;
            padding-right: 55px;
            padding-left:20px;
            @extend %txt;
            font-size: 16px;
            line-height: 16px;
            border: 1px solid #ececec;
            outline: none;
            transition: all .3s;
            
            &::placeholder{
                color: #898A8E;
            }
        }
        &__btn{
            position: absolute;
            right: 20px;
            top: -5px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        padding-bottom: 40px;
    }
    &__collection{
        padding: 70px 40px 60px;
        margin-bottom: 50px;
        background-image: url("../images/header/collection.jpg");
        &__content{
            position: relative;
            @extend %txt;
            font-size: 60px;
            line-height: 70px;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            color: #fff;
        }
        &__arrow{
            position: absolute;
            right: 0;
            top: -10px;
            transition: all .3s;
            &:hover{
                path{
                    fill:$hov;
                }
            }
            &:active{
                path{
                    fill: $act;
                }
            }
        }
    }
    &__goods{
        display: flex;
        justify-content: space-between;
        &__list{
            max-width: 280px;
            width: 100%;
            &__item+.menu__goods__list__item{
                padding-top: 16px;
            }
            &__item:first-child{
                @extend %bld;
                font-size: 16px;
                line-height: 18px;
            }
            &__link{
                @extend %txt;
                font-size: 16px;
                transition: all .3s;
                &:hover{
                    color: $hov;
                }
                &:active{
                    color: $act;
                }
            }
        }
    }
    &__spnsors-slider {
        margin-top: auto;
    }
    .slick-arrow{
        cursor: pointer;
        position: absolute;
        top: 50%;
        z-index: 100;
        background-color: transparent;
        border: none;
        font-size: 0;
        width: 42px;
        height: 40px;
        background-repeat: no-repeat;
    }
    .slick-prev{
        left: -20px;
        background-image: url("../images/header/arrowPrev.svg");
    } 
    .slick-next{
        right: -20px;
        background-image: url("../images/header/arrowNext.svg");
    }
}

.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 90px 40px;
        background-color: $def;
        align-items: center;
        position: relative;
    }
    &__logo-link{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    &__btn {
        border: none;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            path {
                transition: all .3s;
                fill: $hov;
            }
        }

        &:active {
            path {
                fill: $act;
            }
        }
    }

    &__user-nav {
        display: flex;
        justify-content: space-between;

        &__item {
            display: flex;
            padding-right: 40px;

            &:hover {
                .header__user-nav__item__num {
                    border-color: $hov;
                    color: $hov;
                }

                path {
                    transition: all .3s;
                    fill: $hov;
                }
            }

            &:active {
                .header__user-nav__item__num {
                    border-color: $act;
                    color: $act;
                }

                path {
                    fill: $act
                }
            }

            &__img {
                padding-right: 5px;
            }

            &__num {
                width: 40px;
                height: 40px;
                border: 3px solid #FFF;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                @extend %geometria-bold;
                font-size: 16px;
                color: #fff;
                line-height: 12px;
                transition: all .3s
            }
        }
    }
}
.new-collection{
    &__slider{
        &__wrapper{
            position: relative;
        }
        &__item{
            padding: 210px 0 260px;
            &__content{
                max-width: 880px;
                margin: 0 auto;
            }
            &__txt {
                @extend %txt;
                font-size: 60px;
                line-height: 70px;
                text-align: center;
                letter-spacing: 0.15em;
                text-transform: uppercase;
                color: #FFF;
            }
            &__title {
                font-size: 120px;
                line-height: 130px;
                padding-bottom: 100px;
            }
        }
    }
    .slick-dots{
        display: flex;
        position: absolute;
        bottom: 60px;
        left:50%;
        transform: translateX(-50%);
        li + li{
            margin-left: 30px;
        }
        .slick-active{
            button{
                background-color: transparent;
            }
        }
        button{
            background-color: #fff;
            border:2px solid #fff;
            border-radius:50%;
            font-size: 0;
            width: 13px;
            height: 13px;
            transition: all .3s
        }
    }
}
.collections{
    &__inner{
        padding: 20px 40px 0;
        display: flex;
    }
    &__item{
        width: 50%;
        padding: 385px 0 360px;
        background-repeat: no-repeat;
        background-size: cover;
        &__txt{
            &--bordered{
                position: relative;
                margin: 5px 80px;
                &::after{
                    content: "";
                    width: 2px;
                    height: 30px;
                    background-color: #fff;
                    position: absolute;
                    top: 3px;
                    left: -40px;
                }
                &::before{
                    content: "";
                    width: 2px;
                    height: 30px;
                    background-color: #fff;
                    position: absolute;
                    top: 3px;
                    right: -40px;
                }
            }
            &-box{
                margin: 0 auto;
                display: flex;
                flex-flow: wrap;
                justify-content: center;
            }
            margin: 5px 0;
            @extend %txt;
            font-size: 34px;
            line-height: 33px;
            text-align: center;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            color: #FFF;
            border-bottom:2px solid transparent;
            transition: all .6s;
            &:hover{
                border-color: #fff;
            }
        }
        &__title{
            margin: 0;
            max-width: 460px;
            margin: 0 auto;
            font-size: 60px;
            line-height: 70px;
            border: none;
            margin-bottom: 40px;
        }
    }
}
.trends{
    &__inner{
        padding: 0 40px 5px;
        display: flex;
    }
    &__content{
        max-width: 540px;
        padding: 0 10px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
    }
    &__txt{
        @extend %txt;
        font-size: 24px;
        line-height: 34px;
        color: #2C2C2C;
        max-width: 380px;
        margin-bottom: 60px;
    }
    &__title{
        font-size: 60px;
        line-height: 70px;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    &__link{
        path{
            transition: all .3s
        }
        &:hover{
            path{
                fill:$hov;
            }
        }
        &:active{
            path{
                fill:$act;
            }
        }
    }
}
.blockquotes{
    &__slider{
        &__wrapper{
            position: relative;
        }
        &__item{
            background-size: cover;
            padding: 405px 0;
            &__content{
                max-width: 620px;
                margin: 0 auto;
            }
            &__txt{
                @extend %txt;
                font-size: 24px;
                line-height: 34px;
                text-align: center;
                color: #fff;
            }
            &__title{
                font-size: 60px;
                line-height: 60px;
                text-transform: uppercase;
                margin-bottom: 40px;
            }
        }
    }
    .slick-dots {
        display: flex;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);

        li+li {
            margin-left: 30px;
        }

        .slick-active {
            button {
                background-color: transparent;
            }
        }

        button {
            background-color: #fff;
            border: 2px solid #fff;
            border-radius: 50%;
            font-size: 0;
            width: 13px;
            height: 13px;
            transition: all .3s
        }
    }
}
.footer{
    padding: 90px 20px 40px;
    background-color: #2C2C2C;
    &-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 80px;
        &__left,
        &__right {
            display: flex;
            max-width: 610px;
            width: 100%;
            justify-content: space-between;
        }
        &__social-media{
            display: flex;
            align-items: center;
            &__item+.footer-top__social-media__item{
                margin-left: 10px;
            }
            &__item{
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #474646;
                border: 1px solid #474646;
                transition: all .3s;
                &:hover{
                    background-color: transparent;
                    path{
                        fill:$hov;
                    }
                &:active{
                        border-color:$hov;
                    }
                }
            }
        }
        &__logo-link{
            margin-bottom: -33px;
        }
        &__contacts{
            max-width: 400px;
            display: flex;
            justify-content: space-between;
            flex-flow: wrap;
            &__left{
                padding-left: 30px;
            }
            &__right{
                padding-right: 30px;
                .footer-top__contacts__item{
                    text-align: right;
                    &::after {
                        content: "";
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        background-repeat: no-repeat;
                        right: -30px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &::before{
                        display: none;
                    }
                    &__telephone{
                        &::after{
                            background-image: url('../images/footer/ico/tel.svg');
                        }
                    }
                    &__place{
                        &::after{
                            background-image: url('../images/footer/ico/place.svg');
                        }
                    }
                    &__time{
                        &::after{
                            background-image: url('../images/footer/ico/clock.svg');
                        }
                    }
                }
            }
            &__item{
                position: relative;
                @extend %geometria;
                font-size: 16px;
                line-height: 36px;
                color: #fff;
                &::before{
                    content: "";
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    background-repeat: no-repeat;
                    left: -30px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &__place{
                    width: 100%;
                    &::before{
                        background-image: url('../images/footer/ico/place.svg');
                    }
                }
                &__telephone{
                    &::before{
                        background-image: url('../images/footer/ico/tel.svg');
                    }
                }
                &__time{
                    &::before{
                        background-image: url('../images/footer/ico/clock.svg');
                    }
                }
                &__place,
                &__telephone{
                    transition: all .3s;
                    &:hover{
                        color: $hov;
                    }
                    &:active{
                        color:$act;
                    }
                }
            }
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
        &__item{
            max-width: 300px;
            padding-right: 10px;
            width: 100%;
            &__title{
                @extend %geometria;
                font-weight: 500;
                font-size: 20px;
                line-height: 26px;
                color: #fff;
                padding-bottom: 20px;
            }
            &__list{
                &__item + .footer__content__item__list__item{
                    padding-top: 20px;
                }
                &__link{
                    @extend %txt;
                    color: #fff;
                    transition: all .3s;
                    &:hover{
                        color: $hov;
                    }
                    &:active{
                        color: $act;
                    }
                }
            }
        }
    }
    &__bottom{
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        &__item{
            @extend %txt;
            color: #fff;
            &__buisnes {
                position: relative;
                padding-right: 40px;
                transition: all .3s;
                &::after {
                    content: "";
                    width: 21px;
                    height: 21px;
                    position: absolute;
                    background-image: url('../images/footer/bk.png');
                    right: 0;
                    background-repeat: no-repeat;
                    top: 50%;
                    transform: translateY(-50%)
                }
                &:hover{
                    color: $hov;
                }
                &:active{
                    color: $act;
                }
            }
        }
    }
}
@import "media";